.bgcCoral{
  background-color: coral;
  border-color: coral;  /*для подсветки горизонтальной черты*/
}
.bgcCadetblue{
  background-color: cadetblue;
}

.block {
  background-color: coral;
  display: block;
}
.inline {
  background-color: cadetblue;
  display: inline;
}
.inline-block{
  background-color: crimson;
  display: inline-block;
}

.padding{
  padding:16px;
}
